@import "html-tags.css";
@import "button.css";
.container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "hd" "sd" "main" "ft";
    border: 4px solid;
    background: #ff6f69;
}

.box {
    padding: 20px;
    background: #ffeead;
    margin: 2%;
    border-radius: 8px;
}

ul {
    list-style-type: none;
}

.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

#social1 {
    display: flex;
    flex-direction: row;
    float: right;
}

#social2 {
    display: flex;
    flex-direction: row;
    float: left;
}

#social3 {
    display: flex;
    flex-direction: row-reverse;
    float: left;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

@media(min-width:800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft";
        border: 4px solid black;
        background: #ff6f69;
        ;
    }
}